/* Estilização Página index.html */

html {
   font-family: 'Josefin Sans', sans-serif;
}

body {
   background-image: url(img/fundo.jpg);
   background-size: cover;
}

.sobre-mim h1 {
   margin-top: 1rem;
   font-size: 3rem;
   margin-bottom: 1.5rem;
}

.sobre-mim {
   margin: 0 25%;
   color: white;
   text-align: center;
}

.sobre-mim p {
   font-size: 1.4rem;
   text-align: center;
   margin-bottom: 1rem;
   line-height: 2rem;
}

.foto-e-redes-sociais {
   position: relative;
}

.foto-perfil {
   border-radius: 75px;
   width: 150px;
   height: 150px;
   box-shadow: 10px -10px 10px lightblue;
   margin-bottom: 1rem;
}

.icone {
   margin-top: 10px;
   width: 35px;
   height: 35px;
   border-radius: 8px;
}

.menus {
   margin-bottom: 1rem;
}

.linha {
   width: 100%;
   border-bottom: 1px solid white;
   margin: 1.2rem;
}

nav li {
   display: inline-block;
   padding: 0 1rem;
}

nav a {
   text-decoration: none;
   font-size: 1.5rem;
   color: white;
}

/* Estilização página contato.html */

.informacoes {
   margin: 10% 33%;
   text-align: center;
   width: 30%;
}

p {
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 1rem;
   line-height: 2rem;
   color: #28FFBF;
}

.texto-enfase {
   color: white;
   font-size: 1.5rem;
}

.texto-enfase:hover, p:hover {
   transform: scale(1.2);
}

/* Estilização Página Projetos */

.projetos {
   padding: 4rem;
}

h1 {
   margin: 1rem 0 2rem 0;
   font-size: 3rem;
   color: white;
   display: inline-block;

}

.fa-folder-open {
   font-size: 2.5rem;
   color: #ebd036;
}

.caixa-de-projetos {
   width: 90%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;

}

.projeto {
   height: 15rem;
   width: 17rem;
   background-color: #7fffd4;
   display: flex;
   padding: 2rem;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 5px;
}

.projeto:hover {
   box-shadow: 20px 20px 20px;
   transform: scale(1.02);
   transition: 1s;
}

.icones a {
   font-size: 1.5rem;
   text-decoration: none;
   color: black;
}

.projeto h2 {
   font-size: 2rem;
   font-weight: 900;
   box-sizing: inherit;
}

.page-bottom {
   width: 70%;
   margin: 2rem auto;
   text-align: center;
}

