/* Estilização Página index.html */

html {
   font-family: 'Josefin Sans', sans-serif;
}

body {
   background-image: url(img/fundo.jpg);
   background-size: cover;
}

.sobre-mim h1 {
   margin-top: 1rem;
   font-size: 3rem;
   margin-bottom: 1.5rem;
}

.sobre-mim {
   margin: 0 25%;
   color: white;
   text-align: center;
}

.sobre-mim p {
   font-size: 1.4rem;
   text-align: center;
   margin-bottom: 1rem;
   line-height: 2rem;
}

.foto-e-redes-sociais {
   position: relative;
}

.foto-perfil {
   border-radius: 75px;
   width: 150px;
   height: 150px;
   box-shadow: 10px -10px 10px lightblue;
   margin-bottom: 1rem;
}

.icone {
   margin-top: 10px;
   width: 35px;
   height: 35px;
   border-radius: 8px;
}

.linha {
   width: 100%;
   border-bottom: 1px solid white;
   margin: 1.2rem;
}

nav li {
   display: inline-block;
   padding: 0 1rem;
}

nav a {
   text-decoration: none;
   font-size: 1.5rem;
   color: white;
}

/* Estilização página contato.html */

.informacoes {
   margin: 10% 33%;
   text-align: center;
   width: 30%;
}

p {
   font-size: 1.2rem;
   text-align: center;
   margin-bottom: 1rem;
   line-height: 2rem;
   color: #28FFBF;
}

.texto-enfase {
   color: white;
   font-size: 1.5rem;
}

/* Estilização Página Projetos */

h1 {
   margin-top: 1rem;
   font-size: 2rem;
   margin-bottom: 1.5rem;
   color: white;
}

.lista-de-projetos {
   width: 80%;
   height: 70%;
   margin: 0 auto;
}

.lista-de-projetos li {
   display: inline-block;
   border: 1px solid white;
   text-align: center;
   box-sizing: border-box;
   width: 30%;
   min-height: 40vh;
   vertical-align: top;
}

.imagens-capa {
   width: 90%;
   height: 90%;
}

li a {
   color: white;
   text-decoration: none;
}

